# Student Alcohol Consumption

### Introduction:

This time you will download a dataset from the UCI.

### Step 1. Import the necessary libraries

In [1]:
import pandas as pd
import numpy as np

### Step 2. Import the dataset from this [address](https://raw.githubusercontent.com/guipsamora/pandas_exercises/master/04_Apply/Students_Alcohol_Consumption/student-mat.csv).

### Step 3. Assign it to a variable called df.

In [2]:
df = pd.read_csv('https://raw.githubusercontent.com/guipsamora/pandas_exercises/master/04_Apply/Students_Alcohol_Consumption/student-mat.csv')

### Step 4. For the purpose of this exercise slice the dataframe from 'school' until the 'guardian' column

In [10]:
df = df.loc[:, 'school':'guardian']

### Step 5. Create a lambda function that will capitalize strings.

In [27]:
cap_lamb = lambda x: x.capitalize()

### Step 6. Capitalize both Mjob and Fjob

In [30]:
df['Mjob'].apply(cap_lamb)
df['Fjob'].apply(cap_lamb)

0       Teacher
1         Other
2         Other
3      Services
4         Other
         ...
390    Services
391    Services
392       Other
393       Other
394     At_home
Name: Fjob, Length: 395, dtype: object

### Step 7. Print the last elements of the data set.

In [31]:
df.tail()

,school,sex,age,address,famsize,Pstatus,Medu,Fedu,Mjob,Fjob,reason,guardian
390,MS,M,20,U,LE3,A,2,2,services,services,course,other
391,MS,M,17,U,LE3,T,3,1,services,services,course,mother
392,MS,M,21,R,GT3,T,1,1,other,other,course,other
393,MS,M,18,R,LE3,T,3,2,services,other,course,mother
394,MS,M,19,U,LE3,T,1,1,other,at_home,course,father

### Step 8. Did you notice the original dataframe is still lowercase? Why is that? Fix it and capitalize Mjob and Fjob.

In [34]:
df['Mjob'] = df['Mjob'].apply(cap_lamb)
df['Fjob'] = df['Fjob'].apply(cap_lamb)

### Step 9. Create a function called majority that returns a boolean value to a new column called legal_drinker (Consider majority as older than 17 years old)

In [35]:
def majority(row):
    if row > 17:
        return True
    else:
        return False

In [37]:
df['legal_drinker'] = df['age'].apply(majority)

### Step 10. Multiply every number of the dataset by 10. 
##### I know this makes no sense, don't forget it is just an exercise

In [54]:
df.select_dtypes(include='int64') * 10

     age  Medu  Fedu
0    180    40    40
1    170    10    10
2    150    10    10
3    150    40    20
4    160    30    30
..   ...   ...   ...
390  200    20    20
391  170    30    10
392  210    10    10
393  180    30    20
394  190    10    10

[395 rows x 3 columns]