# Wine

### Introduction:

This exercise is a adaptation from the UCI Wine dataset.
The only pupose is to practice deleting data with pandas.

### Step 1. Import the necessary libraries

In [33]:
import pandas as pd
import numpy as np

### Step 2. Import the dataset from this [address](https://archive.ics.uci.edu/ml/machine-learning-databases/wine/wine.data).

### Step 3. Assign it to a variable called wine

In [34]:
wine = pd.read_csv('~/Downloads/wine.data', header=None)

### Step 4. Delete the first, fourth, seventh, nineth, eleventh, thirteenth and fourteenth columns

In [35]:
wine = wine.drop([0, 3, 6, 8, 10, 12, 13], axis = 1)

### Step 5. Assign the columns as below:

The attributes are (donated by Riccardo Leardi, riclea '@' anchem.unige.it):  
1) alcohol  
2) malic_acid  
3) alcalinity_of_ash  
4) magnesium  
5) flavanoids  
6) proanthocyanins  
7) hue

In [36]:
wine.columns = ['alcohol', 'malic_acid', 'alcalinity_of_ash', 'magnesium', 'flavanoids', 'poranthocyanins', 'hue']

### Step 6. Set the values of the first 3 rows from alcohol as NaN

In [37]:
wine.loc[:, 'alcohol'] = np.nan

### Step 7. Now set the value of the rows 3 and 4 of magnesium as NaN

In [38]:
wine.iloc[2:4, 3] = np.nan

### Step 8. Fill the value of NaN with the number 10 in alcohol and 100 in magnesium

In [39]:
wine.alcohol.fillna(10, inplace=True)
wine.magnesium.fillna(100, inplace=True)

### Step 9. Count the number of missing values

In [40]:
wine.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 178 entries, 0 to 177
Data columns (total 7 columns):
alcohol              178 non-null float64
malic_acid           178 non-null float64
alcalinity_of_ash    178 non-null float64
magnesium            178 non-null float64
flavanoids           178 non-null float64
poranthocyanins      178 non-null float64
hue                  178 non-null float64
dtypes: float64(7)
memory usage: 9.9 KB

### Step 10.  Create an array of 10 random numbers up until 10

In [41]:
random = np.random.randint(10, size = 10)

### Step 11.  Use random numbers you generated as an index and assign NaN value to each of cell.

In [42]:
wine.iloc[random, 0] = np.nan

### Step 12.  How many missing values do we have?

In [44]:
wine.isnull().sum()

alcohol              6
malic_acid           0
alcalinity_of_ash    0
magnesium            0
flavanoids           0
poranthocyanins      0
hue                  0
dtype: int64

### Step 13. Delete the rows that contain missing values

In [46]:
wine.dropna(inplace=True)

### Step 14. Print only the non-null values in alcohol

In [47]:
wine.alcohol

0      10.0
1      10.0
3      10.0
4      10.0
10     10.0
       ...
173    10.0
174    10.0
175    10.0
176    10.0
177    10.0
Name: alcohol, Length: 172, dtype: float64

### Step 15.  Reset the index, so it starts with 0 again

In [48]:
wine.reset_index(drop=True, inplace=True)

### BONUS: Create your own question and answer it.

In [52]:
wine.max(axis=0)

alcohol               10.00
malic_acid             5.80
alcalinity_of_ash     30.00
magnesium            162.00
flavanoids             5.08
poranthocyanins        3.58
hue                    1.71
dtype: float64